@import './css//entry.css';
@import './css/left-directory.css';
@import './css/bottom-drectory.css';
@import './css/articles.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
		line-height: 28px;
}

.index{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}


