.article{
    padding: 30px 10px;
    overflow: scroll;
}

.paragraph{
    margin: 0 0 100px 0;
}

.raw-text{
    padding: 12px 0;
}

.abstract{
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.abstract p{
    font-size: 2rem;
    font-weight: bold;
}

.sub-abstract{
    display: flex;
    justify-content: flex-start;
    padding: 25px 0 10px 0; 
    font-style: italic;
    font-weight: bold;
}

.list{
    padding: 0 30px;
    color: gray;
    overflow: scroll;
}

.indentation{
    padding: 5px 30px;
}

.explain-image{
    padding: 30px;
}

.explain-image img{
    max-width: 100%;
}

@media screen and (max-width: 768px){
    .explain-image{
        padding: 30px 0;
    }

    .abstract{
        display: flex;
        justify-content: center;
    }

    .abstract p{
        background-color: rgb(202, 155, 68);
        color: white;
        padding: 5px 20px;
        font-size: 1rem;
        min-width: 50%;
        text-align: center;
    }

    .sub-abstract p{
        padding: 3px 10px;
        border-bottom: 3px green solid;
    }
}
